<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
        padding: 200px;
        margin-left: 300px;
     }
     .a{
        text-align: left;  
     }
     a{
        font-size: 20px;
        margin-left: 20px;
     }
   </style>
</head>
<body>
   <section class="a">
    <h1 style="margin-left: 20px;">Employee data</h1>
   <a>Name:{{x.name}} </a> 
   <a> </a> 
   <a> </a> 
   </section>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>view</title>
   <style>
      .a{
         height: 80vh;
         display: flex;
         justify-content: center;
         text-align: left;
         align-items: center;
      }
      td{
         font-size: 3vh;
         padding:5px;
      }
   </style>
</head>
<body>
   <section class="a">
      <div class="view">
<h3>Name   :   {{x.name}}</h3>
<h3>Phone Number   :   {{x.phone}}</h3>
<h3>Email Id   :   {{x.email}}</h3>
       
      </div>
   </section>
</body>
</html>